<!-- ==== EVENTS ==== -->
<div class="container" id="contact" name="contact">
  <br>
  <br>
  <div class="row">
    <h2 class="centered">THANKS FOR VISITING US</h2>
    <hr>
    <br>
    <div class="col-lg-offset-2 col-lg-8 centered">
        <span class="icon icon-twitter"></span> <a href="https://twitter.com/sydneyhaskell">sydneyhaskell</a> <br/>
        <span class="icon icon-github"></span> <a href="https://github.com/sydneyhaskell">sydneyhaskell</a> <br/>
        <span class="icon icon-youtube"></span> <a href="https://www.youtube.com/channel/UCb1RSWxbgMhssONElpt04LA">sydneyhaskell</a> <br/>
    </div>
  </div>
</div>
