<!-- ==== SECTION DIVIDER6 ==== -->
<section class="section-divider textdivider divider-sydney" id="home" name="home">
    <div class="container">
        <h1>SYDNEY, AUSTRALIA.</h1>
        <hr>
        <p>sydneyhaskell |
        <a class="icon icon-twitter" href="https://twitter.com/sydneyhaskell"></a> | <a class="icon icon-github" href="https://github.com/sydneyhaskell"></a> | <a class="icon icon-youtube" href="https://www.youtube.com/channel/UCb1RSWxbgMhssONElpt04LA"></a> </p>
    </div>
    </section>
