---
layout: default
---

    {% include nav.html %}
    <br/>

    <!-- ==== SECTION DIVIDER4 ==== -->
    <section class="section-divider textdivider divider-audience">
      <div class="container">
        <h1>{{ page.title }}</h1>
        <hr>
        <p>Posted by <a href="{{ page.authorurl }}">{{ page.author }}</a><br/>
            Published {{ page.date | date: '%h %-d, %I:%M%P' }}</p>
            <a href="{{site.repository_url}}/blob/master/{{page.path}}">Edit this page</a>
      </div>
    </section>

    <!-- ==== BLOG ==== -->
    <div class="container" id="blog" name="blog">
    <br>

      <div class="row">

        <div class="col-lg-offset-2 col-lg-8">

          <div class="">
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            {{content}}
            <br>
          </div>
        </div><!-- /col -->

      </div>
      <br>
      <br>
      <p><a href="{{ site.url }}">&#8592; Back to home</a></p>
    </div><!-- /container -->

    {% include _contact.html %}

    {% include footer.html %}
